@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*
CSS 100% stolen from idk anymore
*/

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto,
    Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

img {
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  background:
           /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(10, 10, 12, 0.9),
      rgba(10, 10, 12, 0.9)
    ),
    /* bottom, image */ url("#");
  background-size: cover;

  /* background-position: bottom right, left, right; */
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.spotifyPanel {
  transition: 0.3s;
  animation-name: init;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 15px;
  background-color: #0f0f12;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  border: 1.5px solid hsla(0, 0%, 76%, 0.02);
  width: 400px;
  height: 75px;
}

@keyframes init {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes init404 {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.trackImg {
  transition: 0.3s;
  margin-right: 15px;
  float: left;
  border-radius: 10px;
  width: 75px;
  height: 75px;
  cursor: pointer;
}

.trackName {
  color: #fff;
  margin-top: 5px;
}

.trackArtist {
  margin-top: -13px;
  font-size: 12.5px;
  color: #747474;
}

.discordPanel {
  transition: 0.3s;
  animation-name: init;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 15px;
  background-color: #0f0f12;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  border: 1.5px solid hsla(0, 0%, 76%, 0.02);
  width: 400px;
  height: 75px;
}

.discordAvatar {
  margin-right: 15px;
  float: left;
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

.discordName {
  color: #fff;
  margin-top: 5px;
}

.discordMotd {
  margin-top: -13px;
  font-size: 12.5px;
  color: #747474;
}

.statusCircle {
  border-radius: 100%;
  width: 15px;
  height: 15px;
  position: absolute;
  margin-left: 60px;
  margin-top: 60px;
  background-color: #0f0f12;
  border: 5px solid #0f0f12;
}

.rpcPanel {
  transition: 0.3s;
  animation-name: init;
  animation-duration: 1s;
  border-radius: 10px;
  padding: 15px;
  background-color: #0f0f12;
  box-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  border: 1.5px solid hsla(0, 0%, 76%, 0.02);
  width: 400px;
  height: 75px;
}

.rpcIcon {
  margin-right: 15px;
  float: left;
  border-radius: 10px;
  width: 75px;
  height: 75px;
}

.rpcSmallIcon {
  border-radius: 100%;
  margin-left: 60px;
  margin-top: 60px;
  position: absolute;
  width: 25px;
  height: 25px;
}

.rpcName {
  color: #fff;
  margin-top: 5px;
}

.rpcDetails {
  margin-top: -13px;
  font-size: 12.5px;
  color: #747474;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
}

.nameMain {
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  animation-name: init;
  animation-duration: 1s;
  color: #fff;
  font-weight: 500;
  font-size: 30px;
}

.smallerMain {
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  animation-name: init;
  animation-duration: 1s;
  margin-top: -25px;
  color: #747474;
  font-weight: 500;
  font-size: 15px;
  max-width: 400px;
}

.nameMain404 {
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  animation-name: init404;
  animation-duration: 1s;
  color: #fff;
  font-weight: 500;
  font-size: 88px;
  text-align: center;
  margin: 25px;
}

.smallerMain404 {
  text-shadow: rgba(0, 0, 0, 0.5) 0 2px 8px;
  animation-name: init;
  animation-duration: 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  margin-top: -25px;
  color: #747474;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  max-width: 400px;
  opacity: 0;
  transition: color 0.2s;
}

.smallerMain404:hover {
  color: #919191;
  cursor: pointer;
}

.gap {
  margin-top: 8px;
}

.copyright {
  opacity: 0.5;
  padding-bottom: 5px;
  bottom: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  color: white;
}

#time_display {
  color: #a8a8a8;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  font-size: 20px;
  font-family: 'VT323', monospace;
}

.spotify {
  font-size: 20px;
  float: right;
  color: #1db954;
}

.discord {
  font-size: 20px;
  float: right;
  color: #5865f2;
}

.game {
  font-size: 20px;
  float: right;
  color: #747474;
}

img {
  transition: 0.3s;
}

@media screen and (max-width: 1200px) {
  .panel {
    width: 300px;
  }

  .smallerMain {
    max-width: 300px;
  }
}
